<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<style>
  p{
    font-family: Lucida Console, Courier, monospace;
    font-weight: bold;
    font-size: 1.2rem;
  }
  .main {
    text-align: center;
    margin: 2rem;
  }
  .login-container {
    margin-bottom: 2rem;
  }
  .notif-container {
    margin-top: 2rem;
  }
</style>

<main class="main">
  <div class="login-container" *ngIf="!isLoggedIn">
    <app-login-access (loginSuccess)="onLoginSuccess()"></app-login-access>
  </div>

  <div class="notif-container" *ngIf="isLoggedIn">
    <app-notification-list></app-notification-list>
  </div>
</main>

<router-outlet />
